*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.flex-container{
    display:flex;
    align-items:center;
    justify-content: space-around;
    background-color: black;
    height:50px;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.flex-container > *{
  align-content:center;
}

.nav{
    display:flex;
    width: 300px;
    justify-content: space-around;
}

li {
    color:white;
    list-style: none;
}

.productContainer{
    display:flex;
    padding:20px;
    flex-wrap:wrap;
    justify-content:space-evenly;
   
}

.product{
    width:25%;
    padding:10px;
    margin:10px;
    display:flex;
    flex-direction:column;
    border:1px solid black;
    min-width:200px;
}

.productDesc{
    
    display:flex;
    justify-content: space-between;
    padding:5px;
}